/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
@media (max-width: 1800px) {
  .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    max-width: 320px;
  }
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.mobile {
  display: none;
}
@media (max-width: 1800px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline-block;
  }
}
nav {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #9BA6AF;
  font-weight: bold;
  height: 50px;
  padding: 0 84px;
  border: 1px solid #979797;
  position: fixed;
  width: 1024px;
}
@media (max-width: 1800px) {
  nav {
    width: 320px;
    padding: 0 15px;
  }
}
nav #logo {
  font-size: 2.4rem;
}
nav #toggle:hover {
  cursor: pointer;
}
nav.collapsed {
  box-shadow: 0px 1px 0px rgba(151, 151, 151, 0.5);
}
nav.collapsed #menu {
  display: none;
}
nav.collapsed #toggle {
  background: url('../img/nav-hamburger.png') no-repeat;
  width: 32px;
  height: 21px;
}
nav.expanded {
  height: 100vh;
  opacity: 0.93;
}
nav.expanded #logo {
  align-self: flex-start;
  margin-top: 15px;
}
nav.expanded #menu {
  display: flex;
  justify-content: space-between;
  margin-right: 12px;
  margin-top: 2px;
  flex-direction: column;
  font-size: 4.8rem;
  line-height: 1.77083333;
}
nav.expanded #menu a:hover {
  color: #493D3C;
}
nav.expanded #toggle {
  align-self: flex-start;
  margin-top: 24px;
  background: url('../img/nav-hamburger-close.png') no-repeat;
  width: 24px;
  height: 25px;
}
footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 250px;
  background-color: #828282;
  border: 1px solid #979797;
  width: 100%;
  max-width: 100%;
  color: white;
  font-size: 1.4rem;
  line-height: 1.85714286;
  padding: 61px 83px 5px 83px;
}
@media (max-width: 1800px) {
  footer {
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 4.375%;
    padding-right: 5.9375%;
    height: auto;
  }
}
footer .interested-addresses {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media (max-width: 1800px) {
  footer .interested-addresses {
    flex-direction: column;
    padding: 0;
  }
}
@media (max-width: 1800px) {
  footer .interested-addresses .interested {
    padding-bottom: 19px;
  }
}
@media (max-width: 1800px) {
  footer .interested-addresses .interested h3 {
    padding-bottom: 17px;
  }
}
footer .interested-addresses .interested input {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  width: 279px;
  height: 42px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #999999;
  padding-left: 7px;
  margin-left: 1px;
  margin-top: 14px;
}
footer .interested-addresses .interested input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #999999;
}
@media (max-width: 1800px) {
  footer .interested-addresses .interested input {
    width: 100%;
    max-width: 100%;
    height: 49px;
    margin: 0;
  }
}
footer .interested-addresses .interested .disclaimer {
  margin-top: 3px;
  margin-left: 2px;
  font-size: 1.3rem;
}
@media (max-width: 1800px) {
  footer .interested-addresses .interested .disclaimer {
    margin-left: 1px;
    margin-top: 9px;
  }
}
footer .interested-addresses .addresses {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-right: 2px;
}
@media (max-width: 1800px) {
  footer .interested-addresses .addresses {
    flex-direction: column;
    padding: 0;
    padding-bottom: 10px;
  }
}
footer .interested-addresses .addresses h3 {
  padding-bottom: 4px;
}
@media (max-width: 1800px) {
  footer .interested-addresses .addresses .address {
    padding-bottom: 22px;
  }
}
footer .interested-addresses .addresses .florida {
  padding-left: 78px;
}
@media (max-width: 1800px) {
  footer .interested-addresses .addresses .florida {
    padding-left: 0;
    padding-bottom: 19px;
  }
}
footer .interested-addresses .addresses .california {
  padding-left: 88px;
}
@media (max-width: 1800px) {
  footer .interested-addresses .addresses .california {
    padding-left: 0;
  }
}
footer h3 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}
footer small {
  align-self: center;
  font-size: 1.2rem;
}
@media (max-width: 1800px) {
  footer small {
    align-self: flex-start;
  }
}
.jumbotron {
  height: 598px;
}
@media (max-width: 1800px) {
  .jumbotron {
    height: 210px;
    margin-bottom: 86px;
  }
}
.jumbotron img {
  z-index: -1;
  max-width: 100%;
}
.jumbotron h2 {
  font-size: 6.4rem;
  font-weight: bold;
  line-height: 1.171875;
  color: white;
  position: relative;
  top: -281px;
  left: 83px;
  z-index: 0;
}
@media (max-width: 1800px) {
  .jumbotron h2 {
    top: -156px;
    left: 15px;
    font-size: 3.6rem;
  }
}
main {
  padding: 52px 85px;
  padding-bottom: 0;
}
@media (max-width: 1800px) {
  main {
    padding: 0;
  }
}
main h2 {
  font-weight: bold;
  font-size: 2.4rem;
  color: #222222;
}
@media (max-width: 1800px) {
  main h2 {
    padding-top: 15px;
  }
}
main button {
  border: 1px solid black;
  width: 136px;
  height: 47px;
}
@media (max-width: 1800px) {
  main button {
    border: 1px solid black;
    width: 100%;
    height: 47px;
  }
}
@media (max-width: 1800px) {
  main .overview {
    padding-bottom: 24px;
    padding: 0 15px;
  }
}
main .overview-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 99px;
}
@media (max-width: 1800px) {
  main .overview-item {
    flex-direction: column-reverse;
    padding-bottom: 0px;
  }
}
main .overview-item.smith-jones button {
  padding-left: 1px;
}
main .overview-item .content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
  padding-top: 6px;
}
main .overview-item .content p {
  padding-top: 15px;
  padding-bottom: 26px;
  width: 407px;
  max-width: 100%;
}
main .overview-item.reversed {
  padding-bottom: 93px;
  flex-direction: row-reverse;
  padding-right: 7px;
}
@media (max-width: 1800px) {
  main .overview-item.reversed {
    flex-direction: column-reverse;
    padding-bottom: 0px;
    padding-right: 0px;
  }
  main .overview-item.reversed img {
    padding-top: 45px;
    max-width: 100%;
    padding-bottom: 8px;
  }
}
main .overview-item.reversed .content {
  padding-top: 0;
  padding-bottom: 6px;
}
main .overview-item.reversed .content p {
  padding-top: 15px;
  padding-bottom: 30px;
}
@media (max-width: 1800px) {
  main .overview-item.reversed .content p {
    padding-bottom: 26px;
  }
}
@media (max-width: 1800px) {
  main .projects {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 35px;
  }
}
main .projects h2 {
  padding-bottom: 40px;
}
@media (max-width: 1800px) {
  main .projects h2 {
    padding-left: 15px;
    padding-bottom: 18px;
  }
}
main .projects .project {
  text-align: center;
  padding-bottom: 76px;
}
@media (max-width: 1800px) {
  main .projects .project {
    padding-bottom: 37px;
  }
}
main .projects .project .title {
  position: relative;
  padding-bottom: 0;
}
main .projects .project .title h3 {
  font-size: 2.4rem;
  letter-spacing: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 316px;
  height: 96px;
  border: 1px solid white;
  background-color: #D8D8D8;
  position: absolute;
  bottom: -34px;
}
@media (max-width: 1800px) {
  main .projects .project .title h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 290px;
    height: 96px;
    border: 1px solid white;
    background-color: #D8D8D8;
    border: none;
    bottom: -75px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}
main .projects .project p:first-of-type {
  padding-top: 84px;
}
main .projects .project p {
  font-size: 18px;
  width: 445px;
  max-width: 100%;
  display: inline-block;
  text-align: left;
  padding-bottom: 24px;
  margin-right: 4px;
  line-height: 24px;
}
@media (max-width: 1800px) {
  main .projects .project p {
    padding: 0 4.6875%;
    margin-top: 17px;
    margin-right: 0;
    padding-bottom: 7px;
  }
}
@media (max-width: 1800px) {
  main .projects .project img {
    max-width: 100%;
  }
}
main .projects .project.villas h3 {
  right: 0px;
  padding-left: 10px;
  padding-bottom: 4px;
}
@media (max-width: 1800px) {
  main .projects .project.villas h3 {
    padding-top: 2px;
    padding-bottom: 0;
  }
}
main .projects .project.outskirts h3 {
  left: 0px;
  padding-right: 1px;
  padding-bottom: 4px;
}
@media (max-width: 1800px) {
  main .projects .project.outskirts h3 {
    bottom: -77px;
    padding: 0;
    padding-top: 1px;
    padding-right: 3px;
  }
}
@media (max-width: 1800px) {
  main .projects .project.outskirts {
    padding-bottom: 41px;
  }
  main .projects .project.outskirts p {
    margin-top: 19px;
    padding-bottom: 5px;
  }
}
main .projects .project.the-blocks h3 {
  right: 0px;
  padding-top: 2px;
}
@media (max-width: 1800px) {
  main .projects .project.the-blocks h3 {
    bottom: -77px;
    padding-right: 3px;
  }
}
@media (max-width: 1800px) {
  main .projects .project.the-blocks p {
    margin-top: 19px;
    padding-bottom: 5px;
  }
}
