.jumbotron {
    h2 {
        font-size: 6.4rem;
        font-weight: bold;
        line-height: 75/64;
        color: white;
        position: relative;
        top: -277px;
        left: 83px;
    }
}