nav {
    z-index: 1;
    .flex;
    align-items: center;
    color: @nav-color;
    background-color: @nav-bg;
    font-weight: bold;
    height: @nav-vertical-height-val;
    padding: 0 @nav-horiz-padding-val;
    border: @nav-border-size-val solid @nav-border-color;
    position: fixed;
    width: @container-max-width-val;
    #logo {
        font-size: 2.4rem;
    }
    #toggle:hover {
        cursor: pointer;
    }
    &.collapsed {
        #menu {
            display: none;
        }
        #toggle {
            background: url('../img/nav-hamburger.png') no-repeat;
            width: 32px;
            height: 21px;
        }
    }
    &.expanded {
        height: 100vh;
        #logo {
            align-self: flex-start;
            margin-top: 21px;
        }
        #menu {
            .flex;
            margin-right: 12px;
            margin-top: 2px;
            flex-direction: column;
            font-size: 4.8rem;
            line-height: (85/48);
            a:hover {
                color: @nav-expanded-hover
            }
        }
        #toggle {
            align-self: flex-start;
            margin-top: 24px;
            background: url('../img/nav-hamburger-close.png') no-repeat;
            width: 24px;
            height: 25px;
        }
    }
}