// Color pointers
@nav-bg: @gray-blue;
@nav-color: white;
// @nav-expanded-hover: @dark-charcoal;
@nav-expanded-hover: @off-charcoal;
@nav-border-color: @lighter-gray;

@main-bg: white;
@main-color: @dark-charcoal;

@footer-bg: @gray;
@footer-border-color: @lighter-gray;
@footer-input-border-color: @even-lighter-gray;
@footer-input-color: @medium-light-gray;

@header-color: white;


// colors
@dark-charcoal: #222222;
@gray-blue: #9BA6AF;
@even-lighter-gray: #CCCCCC;
@medium-light-gray: #999999;
@lighter-gray: #979797;
@lighter-gray-half-alpha: rgba(151, 151, 151, 0.5);
@gray: #828282;
@off-charcoal: #493D3C;


//measurements in pixels
@container-max-width: 1024;
@nav-horiz-padding: 84;
@nav-vertical-height: 50;
@nav-border-size: 1;


//calculated values
@container-max-width-val: unit(@container-max-width, px);
@nav-horiz-padding-val: unit(@nav-horiz-padding, px);
@nav-width-val: (100% - 2*@nav-horiz-padding-val);
@nav-border-size-val: unit(@nav-border-size, px);
@nav-vertical-height-val: unit(@nav-vertical-height, px);


// Mobile var
@phone: (max-width: 320px);
@tablet: (max-width: 800px);